{%- if cart == empty -%}
  <div id="cart_form" class="empty mt-0">
    <svg
      class="size-10"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-garden-cart"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 17.5a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0" /><path d="M6 8v11a1 1 0 0 0 1.806 .591l3.694 -5.091v.055" /><path d="M6 8h15l-3.5 7l-7.1 -.747a4 4 0 0 1 -3.296 -2.493l-2.853 -7.13a1 1 0 0 0 -.928 -.63h-1.323" />
    </svg>

    <h2>Your cart is empty</h2>
    <a href="{{ routes.collections_url }}" class="button"> Go to shop </a>
  </div>
{%- else -%}
  <div class="flex flex-col">
    <ul>
      {%- for item in cart.items -%}
        <li
          style="view-transition-name: cart-item-{{section.id | handleize}}-{{ item.key | handleize }}"
          class="flex items-start gap-2 overflow-clip border-(--jazz-neutral-200) pb-4 not-last-of-type:mb-4 not-last-of-type:border-b"
        >
          {%- if item.image -%}
            {% render 'image', image: item.image, class: 'w-30 rounded overflow-hidden', sizes: '100px, 100px' %}
          {%- endif -%}

          <div class="flex w-full flex-col">
            <div class="mb-1 flex justify-between">
              <a href="{{ item.url }}">{{ item.product.title | escape }}</a>

              <div
                class="flex items-center gap-2 text-right"
                id="cart_item_price_{{ item.key | handleize }}"
              >
                {% comment %} per item price {% endcomment %}
                {% comment %}
                  {%- if item.original_price != item.final_price -%}
                    <p>
                      <s>{{ item.original_price | money -}}</s>
                    </p>
                    <p>{{ item.final_price | money -}}</p>
                  {%- else -%}
                    <p>{{ item.original_price | money }}</p>
                  {%- endif -%}
                {% endcomment %}

                {% comment %} multiple items price {% endcomment %}
                <div>
                  {%- if item.original_line_price != item.final_line_price -%}
                    <p>
                      <s>{{ item.original_line_price | money }}</s>
                    </p>
                    <p>{{ item.final_line_price | money }}</p>
                  {%- else -%}
                    <p>{{ item.original_line_price | money }}</p>
                  {%- endif -%}

                  {%- if item.variant.available and item.unit_price_measurement -%}
                    {{ item.unit_price | money }}

                    {%- if item.unit_price_measurement.reference_value != 1 -%}
                      {{- item.unit_price_measurement.reference_value -}}
                    {%- endif -%}

                    {{ item.unit_price_measurement.reference_unit }}
                  {%- endif -%}
                </div>
              </div>
            </div>

            <dl class="inline-grid w-fit grid-cols-[auto_1fr] gap-x-2">
              {%- if item.product.has_only_default_variant == false -%}
                {%- for option in item.options_with_values -%}
                  <dt class="text-gray-400">{{ option.name }}:</dt>
                  <dd>{{ option.value }}</dd>
                {%- endfor -%}
              {%- endif -%}

              {%- for property in item.properties -%}
                {%- assign property_first_char = property.first | slice: 0 -%}
                {%- if property.last != blank and property_first_char != '_' -%}
                  <dt>{{ property.first }}:</dt>
                  <dd>
                    {%- if property.last contains '/uploads/' -%}
                      <a href="{{ property.last }}" class="link" target="_blank">
                        {{ property.last | split: '/' | last }}
                      </a>
                    {%- else -%}
                      {{ property.last }}
                    {%- endif -%}
                  </dd>
                {%- endif -%}
              {%- endfor -%}
            </dl>

            {{ item.selling_plan_allocation.selling_plan.name }}

            {%- for discount in item.line_level_discount_allocations -%}
              {{ discount.discount_application.title }}
            {%- endfor -%}

            <div class="mt-auto">
              <div class="mt-3 flex items-end justify-between gap-4">
                <form
                  method="post"
                  action="{{ routes.cart_change_url }}"
                  class="contents"
                  hx-post="{{ routes.cart_change_url }}"
                  hx-select="#cart_drawer_content"
                  hx-target="#cart_drawer_content"
                  hx-swap="outerHTML"
                  hx-sync="this:replace"
                  hx-select-oob="#cart_amount,#cart:outerHTML"
                  data-loading-states
                  data-loading-target="#cart_item_price_{{ item.key | handleize }}"
                  data-loading-aria-busy
                >
                  <input type="hidden" name="id" value="{{ item.key }}">

                  {% assign id = item.key | append: section.id %}

                  {% render 'quantity-selector',
                    min: 0,
                    name: 'quantity',
                    value: item.quantity,
                    on-change: '$el.form.requestSubmit()',
                    id: id
                  %}
                </form>

                <a
                  hx-post="{{ item.url_to_remove }}"
                  hx-select="#cart_drawer_content"
                  hx-target="#cart_drawer_content"
                  hx-swap="outerHTML"
                  hx-select-oob="#cart_amount,#cart:outerHTML"
                  data-no-swup
                  data-loading-states
                  data-loading-aria-busy
                  class="button link -mr-2"
                  href="{{ item.url_to_remove }}"
                >
                  Remove
                </a>
              </div>
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ul>

    <div class="mt-auto grid w-full border-t border-(--jazz-neutral-200) bg-(--jazz-background-color) pt-4">
      <p class="text-right">Total: {{ cart.total_price | money_with_currency }}</p>

      {% form 'cart', cart %}
        <button class="mt-4 w-full" type="submit" name="checkout">Checkout</button>
      {% endform %}
    </div>
  </div>

  <footer class="justify-center">
    <a href="{{ routes.cart_url }}" class="button ghost"> Go to cart </a>
  </footer>
{%- endif -%}
