<section id="predictive-search-results">
  {%- if predictive_search.resources.products.size > 0 -%}
    <span>
      Results for: "{{ predictive_search.terms }}"
      <span class="text-neutral-500">({{ predictive_search.resources.products.size }})</span>
    </span>

    <ul class="grid gap-x-4 lg:grid-cols-2">
      {%- for product in predictive_search.resources.products -%}
        <li>
          <a href="{{ product.url }}" class="flex gap-4 border-b border-gray-300 py-4">
            {%- if product.selected_or_first_available_variant.featured_image != blank -%}
              {%- assign image = product.selected_or_first_available_variant.featured_image -%}
            {%- else -%}
              {%- assign image = product.featured_image -%}
            {%- endif -%}

            {% render 'image',
              image: image,
              class: 'w-20 rounded overflow-clip self-start',
              loading: 'eager',
              sizes: '100px, 100px'
            %}

            <div class="flex flex-col">
              <span>{{ product.title }}</span>

              <dl class="mt-1 grid grid-cols-[auto_1fr] gap-x-2">
                {%- for option in product.options_with_values -%}
                  <dt>{{ option.name }}:</dt>
                  <dd>{{ option.selected_value }}</dd>
                {%- endfor -%}
              </dl>

              <span class="mt-auto pt-2">{{ product.price | money }}</span>
            </div>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {% else %}
    <div class="empty">
      <svg
        class="size-10"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-forbid-2"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 15l6 -6" />
      </svg>

      <h2>No results for "{{ predictive_search.terms }}"</h2>
      <p>Try searching for something else</p>
    </div>
  {%- endif -%}
</section>
